name: Release

on:
  workflow_run:
    workflows: ["Build & Push (Docker Hub)"]
    types:
      - completed
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: simple
          package-name: ${{ github.event.repository.name }}
          token: ${{ secrets.GITHUB_TOKEN || github.token }}
